*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(248, 239, 226);
    padding: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo{
    width: 95px;
}

.menu{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.banner{
    background-image: url(../image/banner.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.banner-text{
    color: white;
    padding: 200px 100px;
    
}

.title{
    font-size: 55px;
    font-weight: bold;

}
.para{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.btn{
    background-color: hwb(216 29% 13%);
    font-size: 15px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}
.btn:hover{
    background-color: #888888;
    transition: ease-in all 0.5s;
}


/** contact section **/

.contact {
    background-image: url(../image/contact.png);
    height: 100vh;
    padding: 90px;

}
.contact-text{
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    

}


.contact-form{
    border: #000000;
}

.contactus {
    border: #796f6f solid 2px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 50%;
    height: 51px;
    background: none ;
    color: #181010;
    font-size: 16px;
    font-weight: bold;
}

.textarea {
    border: #796f6f solid 2px;
    margin-bottom: 25px;
    width: 50%;
    background: none;
    color: #140e0e;
    font-size: 18px;
    font-weight: bold;
    padding: 57px 15px 0 15px;
    border-radius: 0;
    height: 70px;
}

.send_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #464646c7;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 25px 0px;
    max-width: 252px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    font-weight: bold;
}

.send_btn:hover {
    background-color: #aca7a7;
    transition: ease-in all 0.5s;
    color: #fff;
}

#request *::placeholder {
    color: rgb(61, 59, 59);
    opacity: 1;
}
